In [2]:
from pathlib import Path
# from warnings import simplefilter

import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from statsmodels.tsa.deterministic import CalendarFourier, DeterministicProcess
from xgboost import XGBRegressor

In [14]:
store_sales= pd.read_csv(
    r'C:\Users\fnafisa\WORKSPACE\kaggle\Time Series\data\train.csv',
    usecols= ['store_nbr', 'family', 'date', 'sales', 'onpromotion'],
    dtype={
        'store_nbr' : 'category',
        'family' : 'category',
        'sales' : 'float32'
    },
    parse_dates=['date'],
    infer_datetime_format= True,
)

In [15]:
store_sales['date']

0         2013-01-01
1         2013-01-01
2         2013-01-01
3         2013-01-01
4         2013-01-01
             ...
3000883   2017-08-15
3000884   2017-08-15
3000885   2017-08-15
3000886   2017-08-15
3000887   2017-08-15
Name: date, Length: 3000888, dtype: datetime64[ns]

In [16]:
store_sales['date']= store_sales.date.dt.to_period('D')
store_sales= store_sales.set_index(['store_nbr','family','date']).sort_index()

In [19]:
store_sales

                                     sales  onpromotion
store_nbr family     date
1         AUTOMOTIVE 2013-01-01   0.000000            0
                     2013-01-02   2.000000            0
                     2013-01-03   3.000000            0
                     2013-01-04   3.000000            0
                     2013-01-05   5.000000            0
...                                    ...          ...
9         SEAFOOD    2017-08-11  23.830999            0
                     2017-08-12  16.859001            4
                     2017-08-13  20.000000            0
                     2017-08-14  17.000000            0
                     2017-08-15  16.000000            0

[3000888 rows x 2 columns]

In [20]:
family_sales= (
    store_sales.groupby(['family','date']).mean().unstack('family').loc['2017']
)

In [22]:
store_sales

                                     sales  onpromotion
store_nbr family     date
1         AUTOMOTIVE 2013-01-01   0.000000            0
                     2013-01-02   2.000000            0
                     2013-01-03   3.000000            0
                     2013-01-04   3.000000            0
                     2013-01-05   5.000000            0
...                                    ...          ...
9         SEAFOOD    2017-08-11  23.830999            0
                     2017-08-12  16.859001            4
                     2017-08-13  20.000000            0
                     2017-08-14  17.000000            0
                     2017-08-15  16.000000            0

[3000888 rows x 2 columns]

In [30]:
family_sales

                sales            ...                onpromotion
family     AUTOMOTIVE BABY CARE  ... SCHOOL AND OFFICE SUPPLIES   SEAFOOD
date                             ...
2017-01-01   0.092593  0.037037  ...                   0.000000  0.000000
2017-01-02  11.481482  0.259259  ...                   0.000000  0.407407
2017-01-03   8.296296  0.296296  ...                   0.000000  0.407407
2017-01-04   6.833333  0.333333  ...                   0.000000  0.333333
2017-01-05   6.333333  0.351852  ...                   0.000000  0.444444
...               ...       ...  ...                        ...       ...
2017-08-11   8.166667  0.129630  ...                   2.666667  2.537037
2017-08-12   7.462963  0.055556  ...                   2.759259  0.759259
2017-08-13   8.907408  0.166667  ...                   2.777778  0.018519
2017-08-14   5.407407  0.166667  ...                   2.851852  0.000000
2017-08-15   6.240741  0.148148  ...                   2.740741  0.000000

[227 rows x 66 columns]

In [ ]:
class BoostedHybrid:
    def __init__(self, model_1, model_2):
        self.model_1= model_1
        self.model_2= model_2
        self.y_columns= None

In [ ]:
def fit(self, X_1, X_2, y):

In [ ]:
# Set Matplotlib defaults
plt.style.use("seaborn-whitegrid")
plt.rc(
    "figure",
    autolayout=True,
    figsize=(11, 4),
    titlesize=18,
    titleweight='bold',
)
plt.rc(
    "axes",
    labelweight="bold",
    labelsize="large",
    titleweight="bold",
    titlesize=16,
    titlepad=10,
)